/*Globals*/
body {
	font-family: 'Titillium Web', sans-serif;
	
	p {
		font-family: 'Titillium Web', sans-serif;
	}

	legend {
		font-family: 'Titillium Web', sans-serif;
	}

	h4 {
		font-family: 'Titillium Web', sans-serif;
	}

	label {
		font-family: 'Titillium Web', sans-serif !important;	
	}

}

/*Color Variables*/
$dark-blue: #28438B;
$light-blue: #0080DB;
$light-blueb: #0D95F6;
$blue: #0080DB;
$blue-b: #DAEDFB;
$purple: #200C63;
$grey: #EDEDED;
$yellow: #F1EC01;
