html.js body div#globalWrapper.localscroll section#home div.container img.img-responsive {box-shadow: 3px 2px 6px #393939; margin-top: 8%; margin-bottom: 8%;}

/*PDF Box*/
html.js body div#globalWrapper.localscroll section#services.slice div.container div.row div.col-md-12 div.color1 {background-image: url('../images/patterns/otis_redding.png') !important;}
html.js body div#globalWrapper.localscroll section#services.slice div.container div.row div.col-md-12 div.color1 div.container div.row div.col-md-8 h1.whiteline {color: #ffffff;}

/*Quote Font Size*/
html.js body div#globalWrapper.localscroll div#paralaxSlice2 div.maskParent div.paralaxText h1 {font-size: 29px;}
html.js body div#globalWrapper.localscroll div#paralaxSlice2 div.maskParent div.paralaxText {padding-top: 50px; padding-bottom: 38px;}
html.js body div#globalWrapper.localscroll div#paralaxSlice2 div.maskParent div.paralaxText h2.subTitle {margin-bottom:0px !important;}

html.js body div#globalWrapper.localscroll div#paralaxSlice3 div.maskParent div.paralaxText h1 {font-size: 34px;}
html.js body div#globalWrapper.localscroll div#paralaxSlice3 div.maskParent div.paralaxText {padding-top: 50px; padding-bottom: 38px;}
html.js body div#globalWrapper.localscroll div#paralaxSlice3 div.maskParent div.paralaxText h2.subTitle {margin-bottom:0px !important;}


html.js body div#globalWrapper.localscroll section#home {padding-top: 0px;}

/*Footer*/
html.js body div#globalWrapper.localscroll footer section#mainFooter div#footer.container div.row div.col-sm-6 div.footerWidget h3 {margin-bottom: 8px;}
html.js body div#globalWrapper.localscroll footer section#mainFooter div#footer.container div.row div.col-sm-6 div.footerWidget p a strong span.footer-type {color: #000000;}
html.js body div#globalWrapper.localscroll section#footerRights div.container div.row div.col-sm-6 p span.linkdark a {color: #000000;}


/*About Us Section*/
html.js body div#globalWrapper.localscroll section#about.slice div.container div.row div#centerdiv.col-sm-6 {text-align: center;}
html.js body div#globalWrapper.localscroll section#about.slice div.container div.row div.col-sm-6 p {font-size: 17px;}

/*Section border line bottom and top*/
section {border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4;}
html.js body div#globalWrapper.localscroll footer section#mainFooter {border-top: none; border-bottom: none;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {color: #ffffff !important;}

/*Menu Border*/


/*Services List Layout*/
html.js body div#globalWrapper.localscroll section#contactSlice.slice div.container div.row div.col-sm-12 {margin-bottom: 12px;}
html.js body div#globalWrapper.localscroll section#services.slice div.container div.row div.col-sm-4 p.services {margin-left: 13%; color: #555555;}
html.js body div#globalWrapper.localscroll section#services.slice div.container div.row div.col-sm-4 p.servicesb {margin-left: 3%; color: #555555;}
html.js body div#globalWrapper.localscroll section#services.slice div.container div.row div.col-xs-12 p.subTitle {color: #888888;}

/*Navbar font*/
html.js body div#globalWrapper.localscroll header#mainHeader.navbar-fixed-top div.container nav.navbar div#scrollTarget.collapse ul.nav li a {color: $purple; font-weight: 600;}


/*Google Maps*/
html.js body div#globalWrapper.localscroll section#contactSlicetop.slice {padding-bottom:0px;}
html.js body div#globalWrapper.localscroll section#contactSlice.slice {border-top: none; padding-top: 20px;}
html.js body div#globalWrapper.localscroll div#paralaxSlice3 div.maskParent small a {padding-left: 16%;}
html.js body div#globalWrapper.localscroll div#paralaxSlice3 {height: 340px;} 
html.js body div#globalWrapper.localscroll section#contactSlice.slice div.container{padding-top: 54px;} 


/*Sidepanel*/
html.js body div#globalWrapper.localscroll section#contactSlice.slice div.container div.row div.col-sm-4 img.img-responsive {margin-top: 20%;}


/*Our Team Styling*/
html.js body div#globalWrapper.localscroll section#team.slice div.container div.row div.col-sm-6 article div.boxContent ul.socialNetwork {margin-top: 0em;}
html.js body div#globalWrapper.localscroll section#team.slice div.container div.row div.col-sm-6 article div.boxContent ul.socialNetwork li a.tips i.icon-linkedin-1 {float: right;}
html.js body div#globalWrapper.localscroll section#team.slice div.container div.row div.col-sm-6 article div.boxContent ul.socialNetwork {padding-left: 80%;}


/* All Fonts */ 
/* All H1 */
html.js body div#globalWrapper.localscroll section#about.slice div.container div.row div.col-xs-12 h1 {font-weight: bold;}
html.js body div#globalWrapper.localscroll section#team.slice div.container div.row div.col-xs-12 h1 {font-weight: bold;}
html.js body div#globalWrapper.localscroll section#services.slice div.container div.row div.col-xs-12 h1 {font-weight: bold;}
html.js body div#globalWrapper.localscroll section#contactSlicetop.slice div.container div.row div.col-sm-12 h1 {font-weight: bold;}

/* H3 */
html.js body div#globalWrapper.localscroll section#about.slice div.container div.row div#centerdiv.col-sm-6 h3 {color: #7F7D7D;}
html.js body div#globalWrapper.localscroll section#about.slice div.container div.row div#centerdiv.col-sm-6 span.darker h3 {color: #000000;}

/*Services*/
html.js body div#globalWrapper.localscroll section#services.slice div.container div.row div.col-sm-6 p.services {padding-left: 10%;}

/*Contact-Form*/
#contact-page.span12 fieldset div.actions input.btn {background-color: $blue !important;}
#contact-page.span12 fieldset div.actions input#submitButton.btn {background-color: $blue
 !important;}
#contact-page.span12 fieldset div.actions input.btn:hover {color: #efefef !important;}
#contact-page.span12 fieldset div.actions input#submitButton.btn:hover {color: #efefef !important;}


